<%= form_for(@tour) do |f| %>
  <% if @tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% @tour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :preferred_date %><br />
    <%= f.date_select :preferred_date %>
  </div>
  <div class="field">
    <%= f.label :additional_questions %><br />
    <%= f.text_field :additional_questions %>
  </div>
  <div class="field">
    Options <br />
    <% Tour::AVAILABLE_OPTIONS.each do |option| %>
      <%= check_box_tag "tour[options][]", option, false, :id => "options_#{option}" %>
      <%= label_tag("options_#{option}", option.titleize) %>
      <br />
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
